# Virtual environment
venv/
__pycache__/
*.pyc

# Python
*.pyo
*.pyd
.Python
.env

# OS files
.DS_Store
Thumbs.db

# Logs and data
*.log
datasets/
experiments/
demos/
docs/
tests/

# ML artifacts
*.pt
*.pth
*.onnx
*.pkl
*.joblib
models/
checkpoints/

# IDE
.vscode/
.idea/

